<div class="form-addmission">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="header">
  
        </div>
        <div class="form">
          <h2>PHIẾU ĐĂNG KÝ XÉT TUYỂN ĐẠI HỌC CHÍNH QUY 2022</h2>
          <div class="card info-student">
            <div class="card-header">
              THÔNG TIN THÍ SINH
            </div>
            <div class="card-body">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
