.form-addmission {
    padding: 15px;
}

.form {}

.info-student {
    margin-top: 15px;

    .card-header {
        background-color: #144069;
        color: #fff;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
    }

}